body{
    font-family: serif;
}
div{
    margin: auto;
    max-width: 600px;
}
#square{
    background-color: beige;
    color:rgb(158, 135, 103);
    border-radius: 5px;
    text-align: center;
    padding:20px 0px;
    
}
#links{
    text-align: center;
    border-bottom: 1px solid lightgrey;
}
a{
    color: grey;
    padding: 10px;
    text-decoration: dotted;
    text-decoration-line:underline;
    display: inline-block;
}
.headline{
    text-align: center;
}
#im{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-bottom: 3px solid black;
    background-size: cover;
    background-image: url(images/molly.jpeg);
}
#text{
    border-bottom: 1px solid lightgrey;
}
